@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,500;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
   
}

.content{
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;


}

.content .fa-android{
    font-size: 20rem;
    position: absolute;
    transform: translateX(-50%) translateY(-80%);
    transition: color 1s ease-in-out;
    cursor: pointer;
    color: rgb(90, 173, 241);
   
}



.content h1{
   
    font-size: 7rem;
    margin: 0;
    cursor: pointer;
    
}



input{
    font-size: 2rem;
    margin: 1rem 1rem;
    padding-left: 20px ;
    border-radius: 40px;
    font-family: 'Muli',sans-serif;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    border: 0;
    background-color: rgb(176, 236, 191);
    text-align: center;
  
}

input:focus{
    outline: none;
}



.btn
{
    background: transparent;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    outline: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0,0.7);
    cursor: pointer;
}

.btn:hover{
    transform: scale(0.95);
}

.btn:active{
    transform: scale(0.98);
}

.duckduck:hover{
    color: green;    
}

.torrent:hover{
    color: red;
}

.film:hover{
    color: blue;
}



.fas{
    font-size: 1.5rem; 
    margin: 1rem; 

}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    position: absolute;    
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

form a{
    text-decoration: none;
    color: black;
}

form button{
    background-color: transparent;
    border-radius: 50px;
}

form button:hover{
    background-color: gray;
}