@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    background-color: var(--primary-color) ;
   
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color) ;
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
}

.search::placeholder{
    color: #7378c5;
}

.search:focus{
    outline: none;
    background-color: var(--primary-color);
}

.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.movie{
    width: 300px;    
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    max-height: 65px;
    overflow: hidden;

}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
transform: translateY(0);
}

.boton{
    background-color: transparent;
    border:none;
    margin: 12px 0;
    padding: 0;
}

.boton a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.boton a{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    margin: 0;
    padding: 8px;
    text-decoration: none;
    font-family: inherit;
    font-size: 14px;
    color: black;
}